.header {
  margin-bottom: 20px;
}

.searchForm {
  display: flex;
  height: 40px;

  & input {
    width: 100%;
    background-color: lightgray;
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 5px 15px;
    font-size: 1.2rem;
  }

  & button {
    background-color: green;
    border-radius: 0 8px 8px 0;
    border: none;
    width: 30%;
    color: white;
  }
}
