.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery li {
  display: contents;
}
